.about-section {
    width: 80%;
    /* height: 80vh; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* box-shadow: #000 0 0 6px -2px; */
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text {
    width: 50%;
    font-size: 22px;
}
.about-imgs {
    padding: 20px;
    width: fit-content;
}
.about-imgs img:first-child {
    width: 70%;
}
.about-imgs img:last-child {
    width: 10%;
    animation: spin 2s linear infinite;
}

@media (max-width: 900px) {
    .about-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 95%;
    }
    .about-section {
        width: 95%;
    }
    .about-content {
        flex-direction: column;
    }
    .about-content div {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 20px;
        font-size: 1rem;
    }
    .about-imgs img:first-child {
        width: 80%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}