.portofolio {
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

.project-one,
.project-two,
.project-three,
.project-four,
.project-five {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  /* padding-bottom: 20px;
    border-bottom: solid 2px var(--light-gray); */
}
.project-two,
.project-four {
  flex-direction: row-reverse;
}
.txt-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portofolio img {
  width: 50%;
  /* border: solid 2px var(--pumpkin); */
  border-radius: 15px;
  box-shadow: 0 0 6px -1px #000;
}
.links a {
  text-decoration: none;
  color: var(--dark-gray);
  padding: 10px 25px;
  border-radius: 4px;
  border-style: solid;
  border-width: 3px;
  position: relative;
  font-weight: 700;
}
.links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms;
  height: 100%;
  width: 0;
  z-index: -1;
}
.links a:hover::before {
  width: 100%;
}
.links a:hover {
  color: #fff;
}
.visit {
  border-color: var(--midnight);
}
.visit::before {
  background-color: var(--midnight);
}
.github {
  border-color: var(--english-violet);
}
.github::before {
  background-color: var(--english-violet);
}

@media (max-width: 720px) {
  .portofolio {
    width: 95%;
  }
  .portofolio img {
    width: 100%;
  }
  .project-one,
  .project-two,
  .project-three,
  .project-four,
  .project-five {
    flex-direction: column;
  }
  .txt-container {
    flex-basis: 150%;
  }
  .links {
    margin-top: 50px;
  }
}
